@model EducationSystem.Models.Teacher

@{
    ViewData["Title"] = "Детали преподавателя";
}

<h1>Детали преподавателя</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Имя</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>
        <dt class="col-sm-2">Курсы</dt>
        <dd class="col-sm-10">
            @if (Model.Courses != null && Model.Courses.Any())
            {
                <ul>
                    @foreach (var course in Model.Courses)
                    {
                        <li>@course.Title</li>
                    }
                </ul>
            }
            else
            {
                <span>Нет курсов</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Редактировать</a> |
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</div>
