<h1>Система управления учебным процессом</h1>
<div>
    <h3>Разделы системы:</h3>
    <ul>
        <li><a href="/Teachers">Преподаватели</a> - управление преподавателями</li>
        <li><a href="/Students">Студенты</a> - управление студентами</li>
        <li><a href="/Courses">Курсы</a> - управление курсами и записью студентов</li>
    </ul>
</div>