@model IEnumerable<EducationSystem.Models.Course>
<h2>Курсы</h2>
<p><a href="/Courses/Create">Добавить</a></p>
<table border="1">
    <tr><th>Название</th><th>Описание</th><th>Преподаватель</th><th>Действия</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Teacher.Name</td>
            <td>
                <a href="/Courses/Edit/@item.Id">Изменить</a> |
                <a href="/Courses/Delete/@item.Id">Удалить</a> |
                <a href="/Courses/Enroll/@item.Id">Записать студента</a>
            </td>
        </tr>
    }
</table>
<p><a href="/">← Вернуться на главную</a></p>