@{
    ViewData["Title"] = "Система управления учебным процессом";
}

<div class="text-center">
    <h1 class="display-4">Система управления учебным процессом</h1>
    <p>Выберите раздел для управления:</p>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Студенты</h5>
                </div>
                <div class="card-body">
                    <p>Управление данными студентов и их записью на курсы</p>
                    <a asp-controller="Students" asp-action="Index" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Преподаватели</h5>
                </div>
                <div class="card-body">
                    <p>Управление данными преподавателей</p>
                    <a asp-controller="Teachers" asp-action="Index" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Курсы</h5>
                </div>
                <div class="card-body">
                    <p>Управление курсами и назначением на них преподавателей и студентов</p>
                    <a asp-controller="Courses" asp-action="Index" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
