@model IEnumerable<EducationSystem.Models.Student>
<h2>Студенты</h2>
<p><a href="/Students/Create">Добавить</a></p>
<table border="1">
    <tr><th>Имя</th><th>Email</th><th>Действия</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>
                <a href="/Students/Edit/@item.Id">Изменить</a> |
                <a href="/Students/Delete/@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
<p><a href="/">← Вернуться на главную</a></p>