<!DOCTYPE html>
<html>
<head>
    <title>Управление библиотекой</title>
</head>
<body>
    <nav>
        <a href="/Authors">Авторы</a> |
        <a href="/Books">Книги</a>
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>